* {
	margin: 0px;
	padding: 0px;
}

/* Elements */

html, body{
	height:100%;
}

body {
	background: #b2f4e9;
}

h1 {
	padding-top:10px;
	font-family:Arial;
	font-size:35px;
	font-weight:100;
}

h2 {
	font-family:Arial;
	font-size:20px;
	font-weight:100;
}

button {
	padding:3px;
	font-size:16px;
	border: none;
}

ul {
	list-style:none;
}

li .button{
	margin-top:5px;
	width:100%;
}

select {
	margin-top:5px;
	margin-bottom:5px;
	width:100%;
	padding:3px;
	font-size:16px;
}

#content li {
	margin-left:40px;
	margin-top:10px;
	font-size:20px;
}

#side_window button {
	display:inline;
}

/* Classes */

.center_container{
	width: 1000px;
	margin: auto;
}

#header .center_container
{
	text-align: center;
	bottom:0px;
}

.button {
	border:1px solid gray;
	background: #f9f9f9;
	padding:4px;
	cursor: pointer;
	cursor: hand;
	transition:background .3s;
	font-size:16px;
}

.button:hover{
	background:#dddddd;
}

#menu_bar .button {
	display:inline-block;
}

/* ID's */

#header {
	position:relative;
	height: 50px;
	background: white;
	border-bottom: 1px solid lightgray;
}

#body_container {
	background: white;
	min-height: calc(100% - 51px);
	position: absolute;
	top:0px;
	left:50%;
	transform: translate(-50%, 51px);
	border-right:1px solid gray;
	border-left:1px solid gray;
}

#window_container {
	width:760px;
	position:relative;
	padding-top:50px;
	margin:auto;
}

#content {
	width:800px;
	margin:100px;
	margin-top:50px;
}

#board {
	border: 1px solid black;
}

#window {
	width: 600px;
}

#side_window {
	height:500px;
	width:160px;
	position:absolute;
	right:-10px;
	top:50px;
}

#menu_bar {
	margin-top:5px;
	width: 600px;
	background: white;
}
