* {
	margin: 0px;
	padding: 0px;
}

/* Elements */

html, body{
	height:100%;
}

body {
	background: #f9f9f9;
}

h1 {
	font-family:Arial;
	font-size:35px;
	font-weight:100;
}

/* Classes */

.center_container{
	width: 1000px;
	margin: auto;
}

#header .center_container {
	left:50%;
	transform: translate(-50%, 0px);
	position:absolute;
	bottom:0px;
}

.button {
	display:inline-block;
	border:1px solid gray;
	background: #f9f9f9;
	padding:3px;
	cursor: pointer; 
	cursor: hand;
}

/* ID's */

#header {
	position:relative;
	height: 50px;
	background: white;
	border-bottom: 1px solid lightgray;
}

#body_container {
	background: white;
	min-height: calc(100% - 51px);
	position: absolute;
	top:0px;
	left:50%;
	transform: translate(-50%, 51px);
	border-right:1px solid gray;
	border-left:1px solid gray;
}

#body {
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
}

#board {
	border: 1px solid black;
}

#window {
	margin:auto;
	width: 600px;
}

#menu_bar {
	margin-top:5px;
	width: 600px;
	background: white;
}


